/* Link to bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


/* Overall page styling */

html {
    background-color: #06273A;
}

body {
    font-family: 'Roboto Condensed', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#mainPage {
    text-decoration: none;
    color: rgb(238, 238, 238);
    font-weight: 500;
    font-size: 50px;
}

#mainPage:hover {
    transition: 0.8s;
    color:rgb(241, 185, 255)
}

.navbar-options {
    color: rgb(238, 238, 238);
    /* margin-left: 50px; */
}

.navbar-options:hover {
    transition: 0.8s;
    color:rgb(241, 185, 255)
}

#favourites-btn {
    color: rgb(238, 238, 238);
    margin-left: 50px;
}

#favourites-btn:hover {
    transition: 0.8s;
    color:rgb(241, 185, 255)
}



/* Increase size and remove padding of favorite star */

.bi-star {
   
   font-size: x-large;
   padding: 0em;
}

/* Favorite star changes to yellow on hover */

.bi-star:hover {
    color: yellow;
}

/* Increase size, remove padding and change color
of filled favorite star. */

.bi-star-fill {

    color: yellow;
    font-size: x-large;
    padding: 0em;
}

/* Limit the width of the recipe title to allow
for favorite star */

.card-title {
    width: 80%;
}

/* Modify padding and add relative position to 
allow for absolute position of favorite star */

.card-body {
    padding: 1rem 0rem;
    position: relative;
}

/* modify styling of recipe title heading
to allow for positioning of favorite star */

.card-body h5 {
    margin: 0%;
    display: inline-block;
}

/* styling and positioning of favorite button*/

.card-body button {

    position: absolute;
    top: 5px;
    right: 0px;
    padding: 2px 1px;
    border: none;
    background-color: white;

}

/* styling for method pages */

#recipeImg {
    border: 40em;
    border-radius: 40px;
    width: 500px
}


#container {
    margin: 0 auto;
  }
  
  p {
    text-align: center;
  }
  
  nav {
    margin: 50px 0;
    background-color: #06273A;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    }
    
  nav ul li {
    display:inline-block;
    background-color:#06273A;
    }
  
  nav a {
    display:block;
    padding:0 10px; 
    color:#FFF;
    font-size:20px;
    line-height: 60px;
    text-decoration:none;
  }
  
  nav a:hover { 
    background-color: #dcedf4; 
  }
  
  /* Hide Dropdowns by Default */
  nav ul ul {
    display: none;
    position: inherit; 
    top: 60px; /* the height of the main nav */
  }
    
  /* Display Dropdowns on Hover */
  nav ul li:hover > ul {
    display:inherit;
  }
    
  /* Fisrt Tier Dropdown */
  nav ul ul li {
    width:170px;
    float:none;
    display:list-item;
    position: inherit;
  }
  
  /* Second, Third and more Tiers */
  nav ul ul ul li {
    background-color:rgb(22, 23, 26);
    /* color: #898989; */
    position: inherit;
    top:-60px; 
    left:170px;
  }
  
    
  /* Change this in order to change the Dropdown symbol */
  li > a:after { content:  ' +'; }
  li > a:only-child:after { content: ''; }